{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grafico de ventas</title>
</head>
<body>
    <h1>Estadisticas de las ventas de los productos</h1>
    <div class="container" style="width: 90vw; display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 50px;">
        <div class="chart">
            <canvas id="barchart" width="700" height="400"></canvas>
        </div>
        <div class="chart" >
            <canvas id="piechart" width="400" height="400"></canvas>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.5.0/dist/chart.umd.min.js"></script>
    <script src="{% static 'admin/js/ProductosVentas_chart.js' %}"></script>
    <script src="{% static 'admin/js/GeneroVentas_chart.js' %}"></script>
</body>
</html>